/**
 * This file was taken from the cheatsheet example of bootstrap.
 * You will most likely remove it if using this template.
 */

 h1 {font-size: large}
 h2 {font-size: small}
.content {
  margin: 1em
}
button {
  margin: 0.5em;
}
summary {font-size: small;}
.text {
  font-size: small;
}

input[type="checkbox"] {
  margin-right: 1.5em;
  margin-left: 0.25em;

}
span {font-size: small;}
label {font-size: small}
canvas {

  border-color: black;
  border-style: solid;
  border-width: 1px;
}

textarea {
font-size: xx-small;
}

button {
  height: 1.7em;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  padding-top: 1px !important;
}

.ns {
  touch-action: none;
}