/**
 * This file was taken from the cheatsheet example of bootstrap.
 * You will most likely remove it if using this template.
 */
.content {
  margin: 2em
}
button {
  margin: 0.5em;
}

input[type="checkbox"] {
  margin-right: 1.5em;
  margin-left: 0.25em;

}

canvas {

  border-color: black;
  border-style: solid;
  border-width: 1px;
}

textarea {

}