<main>
  <h1>Oh, snap!</h1>
  <h2>A simple object snap demo</h2>
  <p>Desktop only currently</p>
<body ng-controller="RenderCtrl" data-ng-init="mainRender()"></body>
<div ng-app="app">



<div>
  <button class='btn btn-primary' type="button" ng-click=drawRandomLine()>Random Line</button>
</div>

<div>
  <button class='btn btn-primary' type="button" ng-click=drawRandomCircle()>Random Circle</button>
</div>


<div>
  <input type = "checkbox" ng-click=toggleMidpoint()>Snap to midpoint </input>
</div>

<div>
  <input type = "checkbox" ng-click=toggleEndpoint()>Snap to endpoint</input>
</div>

<div>
  <input type = "checkbox" ng-click=toggleCenterpoint()>Snap to centerpoint</input>
</div>

<div>
  <input type = "checkbox" ng-click=toggleQuadrant()>Snap to quadrant</input>
</div>

<div>
  <input type = "range" ng-model="snapRange" min="20" max="100" value ="20">Snap range size</input>
</div>

<div style="position: relative;">
  <canvas ng-mousemove="showCoords($event)" width="500" height="500" id="line_area"  style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
</div>

</div>

</main>