<main>
  <h1>Oh, snap!</h1>
  <h2>A simple object snap demo</h2>
  <p>Create a few lines and circles, and mouse over them
    to see potential snap points.  Desktop browser only, currently.
  </p>
<body ng-controller="RenderCtrl" data-ng-init="mainRender()"></body>
<div ng-app="app">



<div>
  <button value="addLine" class='btn btn-primary' type="button" ng-click=drawRandomLine()>Random Line</button>
</div>

<div>
  <button class='btn btn-primary' type="button" ng-click=drawRandomCircle()>Random Circle</button>
</div>


<div>
  <input type = "checkbox" ng-model="midpointSnap">Snap to midpoint </input>
</div>

<div>
  <input type = "checkbox" ng-model="endpointSnap">Snap to endpoint</input>
</div>

<div>
  <input type = "checkbox" ng-model="centerpointSnap">Snap to centerpoint</input>
</div>

<div>
  <input type = "checkbox" ng-model="quadrantSnap">Snap to quadrant</input>
</div>

<div>
  <input type = "range" ng-model="snapRange" min="15" max="100" value ="15">Snap range size</input>
</div>

<div>
  <canvas ng-mousemove="showCoords($event)" width="500" height="500" id="line_area"></canvas>
</div>

</div>
<a href='https://github.com/smycynek/oh-snap'>https://github.com/smycynek/oh-snap</a>
</main>