/* styles in src/style directory are applied to the whole page */

input,button {
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 3px;
}

h1,h2,body,p {
  margin-left: 5px;
  padding-left: 5px;
}


main {
  margin: 0.0em;
  padding:  0.0em;
  display: block;
}

canvas {
  margin: 10px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}